* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-image: "https://cdn.freecodecamp.org/platform/universal/fcc_primary.svg";
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column1 img {
    margin-top: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    margin-bottom: 0px;
}

#column2 {
    margin-top: 25px;
}

#column2 h1 {
    margin-top: 5px;
}

#column3 {
    margin-top: 25px;
    display: flex;
    gap: 25px;
}

button {
    padding: 10px 20px;
    background-color: rgb(220, 20, 60);
    font-size: 16px;
    font-weight: bold; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3 ease;
}

input {
    border: 2px solid black;
    padding: 5px;
}

button:hover {
    background-color: rgb(180, 20, 60);
}

#column4 {
    width: min(100vw, 450px);
    margin-top: 25px;
    background-color: rgb(147, 5, 5);
    padding: 25px;
    border-radius: 25px;
    color: white;
    font-size: 20px;
}

#column4 p {
    text-align: center;
}

.user-input {
    margin-top: 25px;
    font-size: large;
}